@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --padding: clamp(0rem, 6.4vw - 1.5rem, 2rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
}

h1, h2 {
    font-family: "Young Serif";
    font-weight: 400;
}

h2 {

    /*  */
    font-size: 1.75rem;
    color: var(--brown-800);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: var(--stone-100);
}

.recipe-container {

    /*  */
    
    width: clamp(20rem, 100%, 50rem);
    margin: auto;
    background-color: var(--white);
    border-radius: var(--padding);
}

hr {
    /*  */
    margin: 2rem 2rem;
    border: none;
    height: 1px;
    background-color: var(--stone-150);
}

.table-hr {
    /*  */
    margin: 0.75rem 0;
    border: none;
    height: 1px;
    background-color: var(--stone-150);
}

.recipe-info {
    display: flex;
    flex-direction: column;
}

.recipe-info img {
    /*  */
    width: calc(100% - var(--padding));
    padding-left: calc( var(--padding) / 2 );
    padding-right: calc( var(--padding) / 2 );

    
    /* padding: calc( var(--padding) / 2 ); */
    margin-top: var(--padding);

    border-radius: var(--padding);
    height: auto;

    object-fit: cover;
    display: block;
    align-self: center;
}

.recipe-info h1 {
    /*  */
    margin: 0 2rem;
    padding-top: 2.5rem;
    padding-bottom: 1.75rem;

    /*  */
    font-size: 2rem;
    line-height: 1;
    color: var(--stone-900);
}

.recipe-info p {
    /*  */
    margin: 0 2rem;
    font-size: 1rem;
    color: var(--brown-800);
    /* color: red; */
    line-height: 1.3;
}

.prep-time {
    background-color: var(--rose-50);

    /*  */
    margin: 2rem 2rem;
    
    border-radius: 0.5rem;
    padding: 1.3rem;
}

.prep-time h2 {
    font-family: "Outfit";
    font-weight: 600;
    /*  */
    font-size: 1.3rem;
    color: var(--rose-800);
}

.prep-time ul {
    /*  */
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.prep-time li {
    color: var(--brown-800);
    /*  */
    padding: 0.25rem 1.3rem;
}

.recipe-ingredients {
    /*  */
    margin: 0 2rem;
}

.recipe-ingredients ul {
    /*  */
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.recipe-ingredients li {
    /*  */
    padding: 0.25rem 1.3rem;
    color: var(--brown-800);
}

.recipe-instructions {
    /*  */
    margin: 0 2rem;
}

.recipe-instructions ol {
    /*  */
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.recipe-instructions li {
    /*  */
    padding: 0.25rem 1rem;
    line-height: 1.3;
    color: var(--stone-600);
}

.recipe-instructions li::marker {
    font-weight: 700;
    color: var(--brown-800);
}

.nutrition {
    /*  */
    margin: 0 2rem;
}

.nutrition > p{
    line-height: 1.3;
    /*  */
    padding: 1rem 0;
}

.nutrition-table {
    /* padding: 2rem 0; */
    /* padding-bottom: 2rem; */
    /*  */
    padding-bottom: 2rem;
}

.row {
    display: flex;
    
    gap: clamp(1rem,35%, 15rem);
    padding-left: 2rem;
}

.row p {
    /*  */
    width: 5rem;
    /* background-color: red; */
}

.value {
    color: var(--brown-800);
}


.attribution {
    margin: 2rem;
    font-size: clamp(0.75rem, 4vh, 1rem);
}